@page
@model RyggRunes.Web.Pages.DataRetentionModel
@{
}
<h1>Data Retention Policy</h1>
<p>Last Updated: 8 August 2023</p>

<p>
    This Data Retention Policy ("Policy") outlines our practices regarding the retention and disposal of data
    collected or processed through our Rygg Runes Web Service operated by Rygg Runes Detector ("us," "we," or
    "our"). By accessing or using the Rygg Runes Web Service, you agree to be bound by this Policy. If you
    do not agree with any part of this Policy, please do not use the Rygg Runes Web Service.
</p>

<h2>Data Collection and Processing</h2>
<p>
    We collect and process various types of data through our Rygg Runes Web Service, including personal
    information and other data. The data collected is used for [describe purposes of data collection, e.g.,
    providing services, improving user experience, etc.].
</p>

<h2>Data Retention Period</h2>
<p>
    We will retain the collected data for as long as necessary to fulfill the purposes outlined in this Policy,
    unless a longer retention period is required or permitted by law. The specific retention periods may vary
    depending on the type of data and applicable legal requirements.
</p>

<h2>Data Disposal</h2>
<p>
    Once the data is no longer needed for the specified purposes, we will take reasonable measures to securely
    dispose of or anonymize the data to prevent unauthorized access, use, or disclosure. Disposal methods may
    include deletion, shredding, or other appropriate techniques.
</p>

<h2>Access and Deletion</h2>
<p>
    If you wish to access, correct, or delete your personal data held by us, please contact us at [email address].
    We will respond to your request within a reasonable timeframe and in accordance with applicable laws.
</p>

<h2>Changes to Data Retention Policy</h2>
<p>
    We reserve the right to modify or update this Data Retention Policy at any time. Any changes will be posted on
    this page, and your continued use of the Rygg Runes Web Service after such changes constitute your
    acceptance of the revised Policy.
</p>

<h2>Contact Us</h2>
<p>If you have any questions about this Data Retention Policy, please contact us at [email address].</p>

<address>
    Rygg Runes<br>
    W2773 County Rd HH<br>
    Dalton, WI 53926<br>
    jlind@wwidew.net<br>
    +1 414.704.0718
</address>