@page
@model RyggRunes.Web.Pages.TOSModel
@{
}
<h1>Terms of Service</h1>
<p>Last Updated: 8 August 2023</p>

<p>
    Please read these Terms of Service ("Terms") carefully before using Rygg Runes Web Service operated by Rygg Runes Web Service ("us," "we," or "our"). Your access to and use of the Rygg Runes Web Service is conditioned
    on your acceptance of and compliance with these Terms. By accessing or using the Rygg Runes Web Service,
    you agree to be bound by these Terms. If you disagree with any part of the Terms, you may not access the
    Rygg Runes Web Service.
</p>

<h2>Content</h2>
<p>
    Our Rygg Runes Web Service allows you to [describe the purpose and functionality of your service]. You are
    solely responsible for any content you contribute, share, or otherwise make available on the
    Rygg Runes Web Service, and you agree not to upload, post, or transmit any content that violates these
    Terms or applicable laws.
</p>

<h2>Intellectual Property</h2>
<p>
    The Rygg Runes Web Service and its original content, features, and functionality are owned by [Your
    Company Name] and are protected by international copyright, trademark, patent, trade secret, and other
    intellectual property or proprietary rights laws.
</p>

<h2>User Accounts</h2>
<p>
    When you create an account with us, you must provide accurate and complete information. You are responsible for
    maintaining the confidentiality of your account and password, and you agree to accept responsibility for all
    activities that occur under your account.
</p>

<h2>Privacy</h2>
<p>Your use of the Rygg Runes Web Service is also governed by our  <a href="/Privacy">Privacy Policy</a>.</p>

<h2>Termination</h2>
<p>
    We may terminate or suspend access to our Rygg Runes Web Service immediately, without prior notice or
    liability, for any reason whatsoever, including without limitation if you breach the Terms.
</p>

<h2>Links to Other Websites</h2>
<p>
    Our Rygg Runes Web Service may contain links to third-party websites or services that are not owned or
    controlled by [Your Company Name]. We have no control over, and assume no responsibility for, the content,
    privacy policies, or practices of any third-party websites or services.
</p>

<h2>Limitation of Liability</h2>
<p>
    In no event shall [Your Company Name], its directors, employees, partners, agents, suppliers, or affiliates be
    liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation,
    loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) your access to or use of or
    inability to access or use the Rygg Runes Web Service; (ii) any conduct or content of any third party on
    the Rygg Runes Web Service; (iii) any content obtained from the Rygg Runes Web Service; and (iv)
    unauthorized access, use, or alteration of your transmissions or content.
</p>

<h2>Governing Law</h2>
<p>
    These Terms shall be governed and construed in accordance with the laws of Wisconsin, USA, without regard
    to its conflict of law provisions.
</p>

<h2>Changes to Terms of Service</h2>
<p>
    We reserve the right, at our sole discretion, to modify or replace these Terms at any time. By continuing to
    access or use our Rygg Runes Web Service after those revisions become effective, you agree to be bound
    by the revised terms.
</p>

<h2>Contact Us</h2>
<p>If you have any questions about these Terms, please contact us at [email address].</p>

<address>
    Rygg Runes Web Service<br>
    W2773 County Rd HH<br>
    Dalton, WI 53926<br>
    +1 414.704.0718<br>
    jlind@wwidew.net
</address>